<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-light">PROJETO FEEDBACK</a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="/home"><i class="fa fa-home"></i> HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/list"><i class="fa fa-film"></i> Lista</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/profile"><i class="fa fa-user"></i> Ver perfil </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-info"></i> Sobre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> Sair</a>
    </li>
  </ul>
</nav>
